@media screen and (max-width: 767px) {
    .header {
        display: none;
        background-color: rgba(255, 243, 187, 0);    
        left: 0rem;
        top: 0rem;
        right: 0;
        width: 100%;
        height: 20%; 
        font-family: "Poppins", sans-serif;
    }
    
    .header nav ul {
        list-style: none;  
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 3rem;
        margin-right: 7rem;

    }
    
    

    .header nav ul li span:hover{
        color: #d65886;
    }

    
    .header nav ul li .Link {
        color: #b3b3b3;
        text-decoration: none;
        font-weight: 600;
    
    }
    
    .header nav ul li span {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 1.3rem;
        color: #F2808A;
        
       
    }
    
    .selected span {
        color: #d65886;
        position: relative; 
}

    .selected span::after {
        content: ''; 
        position: absolute; 
        left: 0; 
        bottom: -2px; 
        width: 100%;
        height: 2px; 
        background-color: #d65886; 
    }

    .header nav li a{
        color: #000;
    }
    
    .noUnderline {
      text-decoration: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        display: none;
        background-color: rgba(255, 243, 187, 0);     
        left: 0rem;
        top: 0rem;
        right: 0;
        width: 100%;
        height: 20%; 
        font-family: "Poppins", sans-serif;
    }
    
    
    .header nav ul {
        list-style: none;  
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 3rem;
        margin-right: 7rem;

    }
    
    

    .header nav ul li span:hover{
        color: #d65886;
    }

    
    .header nav ul li .Link {
        color: #b3b3b3;
        text-decoration: none;
        font-weight: 600;
    
    }
    
    .header nav ul li span {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 1.3rem;
        color: #F2808A;
        
       
    }
    
    .selected span {
        color: #d65886;
        position: relative; 
}

    .selected span::after {
        content: ''; 
        position: absolute; 
        left: 0; 
        bottom: -2px; 
        width: 100%;
        height: 2px; 
        background-color: #d65886; 
    }

    .header nav li a{
        color: #000;
    }
    
    .noUnderline {
      text-decoration: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    .header {
        background-color: rgba(255, 243, 187, 0);     
        left: 0rem;
        top: 0rem;
        right: 0;
        width: 100%;
        height: 20%; 
        font-family: "Poppins", sans-serif;
    }
    
    .header nav ul {
        list-style: none;  
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 3rem;
        margin-right: 7rem;

    }
    
    

    .header nav ul li span:hover{
        color: #d65886;
    }

    
    .header nav ul li .Link {
        color: #b3b3b3;
        text-decoration: none;
        font-weight: 600;
    
    }
    
    .header nav ul li span {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 1.3rem;
        color: #F2808A;
        
       
    }
    
    .selected span {
        color: #d65886;
        position: relative; 
}

    .selected span::after {
        content: ''; 
        position: absolute; 
        left: 0; 
        bottom: -2px; 
        width: 100%;
        height: 2px; 
        background-color: #d65886; 
    }

    .header nav li a{
        color: #000;
    }
    
    .noUnderline{
      text-decoration: none;
    }
}

@media screen and (min-width: 1439px) and (max-width: 1919px) {
    .header {
        background-color: rgba(255, 243, 187, 0); 
        left: 0rem;
        top: 0rem;
        right: 0;
        width: 100%;
        height: 20%; 
        font-family: "Poppins", sans-serif;
    }
    
    .header nav ul {
        list-style: none;  
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 3rem;
        margin-right: 7rem;

    }
    
    

    .header nav ul li span:hover{
        color: #d65886;
    }

    
    .header nav ul li .Link {
        color: #b3b3b3;
        text-decoration: none;
        font-weight: 600;
        
    
    }
    
    .header nav ul li span {
        font-size: 1.3rem;
        color: #F2808A;
        
       
    }
    
    .selected span {
        color: #d65886;
        position: relative; 
}

    .selected span::after {
        content: ''; 
        position: absolute; 
        left: 0; 
        bottom: -2px; 
        width: 100%;
        height: 2px; 
        background-color: #d65886; 
    }

    .header nav li a{
        color: #000;
    }
    
    .noUnderline {
      text-decoration: none;
    }
}

@media screen and (min-width: 1919px) and (max-width: 3840px){
    .header {
        background-color: rgba(255, 243, 187, 0); 
        left: 0rem;
        top: 0rem;
        right: 0;
        width: 100%;
        height: 20%; 
        font-family: "Poppins", sans-serif;
    }
    
    .header nav ul {
        list-style: none;  
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 3rem;
        margin-right: 7rem;

    }
    
    

    .header nav ul li span:hover{
        color: #d65886;
    }

    
    .header nav ul li .Link {
        color: #b3b3b3;
        text-decoration: none;
        font-weight: 600;
        
    
    }
    
    .header nav ul li span {
        font-size: 1.3rem;
        color: #F2808A;
        
       
    }
    
    .selected span {
        color: #d65886;
        position: relative; 
}

    .selected span::after {
        content: ''; 
        position: absolute; 
        left: 0; 
        bottom: -2px; 
        width: 100%;
        height: 2px; 
        background-color: #d65886; 
    }

    .header nav li a{
        color: #000;
    }
    
    .noUnderline {
      text-decoration: none;
    }
}