@media screen and (max-width: 767px){
  .descriptionProject2 h1{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 7.5rem;
    font-family: "Reddit Sans", sans-serif;
    font-size: 25px;
    margin-top: 6rem;
  }

  .descriptionProject2 h3{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 7.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-top: -1rem;
    font-weight: 200;
  }

  .imgProject2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .imgProject2 img {
    width: 50%;
  }

  

 .theProduct h2,
  .research h2,
 .personas h2,
 .problemStatement h2,
 .designStart h2,
 .wireframe h2,
 .mockups h2 {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 7.5rem;
  font-family: "Reddit Sans", sans-serif;
  font-size: 15px;
     
   
  }

  .theProduct p,
  .research p,
 .problemStatement p,
 .designStart p,
 .wireframe p,
 .uxResearch p{
  display: flex;
  justify-content: start;
  width: 90%;
  margin-left: 7.5rem;
  font-family: "Reddit Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  }

 
 


 .imgPeronas,
 .imgUserMap,
 .imgStoryboard,
 .imgWireframe,
 .imgPrototype1,
 .imgResearch,
 .imgResponsive,
 .imgMockups,
 .imgProject2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .imgPeronas img,
  .imgUserMap img,
  .imgStoryboard img,
  .imgWireframe img,
  .imgPrototype1 img,
  .imgResearch img,
  .imgResponsive img,
  .imgMockups img,
  .imgProject2 img{
     width: 50%
   }
 
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
  .descriptionProject2 h1{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 7.5rem;
    font-family: "Reddit Sans", sans-serif;
    font-size: 25px;
    margin-top: 6rem;
  }

  .descriptionProject2 h3{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 7.5rem;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-top: -1rem;
  }

  .imgProject2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .imgProject2 img {
    width: 50%;
  }

  

 .theProduct h2,
  .research h2,
 .personas h2,
 .problemStatement h2,
 .designStart h2,
 .wireframe h2,
 .mockups h2 {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 7.5rem;
    font-family: "Reddit Sans", sans-serif;
    font-size: 25px;
     
   
  }

  .theProduct p,
  .research p,
 .problemStatement p,
 .designStart p,
 .wireframe p,
 .uxResearch p{
     
    display: flex;
    justify-content: start;
    width: 90%;
    margin-left: 7.5rem;
   
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

 
 


 .imgPeronas,
 .imgUserMap,
 .imgStoryboard,
 .imgWireframe,
 .imgPrototype1,
 .imgResearch,
 .imgResponsive,
 .imgMockups,
 .imgProject2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .imgPeronas img,
  .imgUserMap img,
  .imgStoryboard img,
  .imgWireframe img,
  .imgPrototype1 img,
  .imgResearch img,
  .imgResponsive img,
  .imgMockups img,
  .imgProject2 img{
     width: 50%
   }
}

@media screen and (min-width: 1439px) and (max-width: 1919px) {
    .descriptionProject2 h1{
      display: flex;
      justify-content: start;
      width: 100%;
      margin-left: 7.5rem;
      font-family: "Reddit Sans", sans-serif;
      font-size: 25px;
      margin-top: 6rem;
    }

    .descriptionProject2 h3{
      display: flex;
      justify-content: start;
      width: 100%;
      margin-left: 7.5rem;
      font-family: 'Raleway', sans-serif;
      font-size: 25px;
      margin-top: -1rem;
    }

    .imgProject2 {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .imgProject2 img {
      width: 50%;
    }

    

   .theProduct h2,
    .research h2,
   .personas h2,
   .problemStatement h2,
   .designStart h2,
   .wireframe h2,
   .mockups h2 {
      display: flex;
      justify-content: start;
      width: 100%;
      margin-left: 7.5rem;
      font-family: "Reddit Sans", sans-serif;
      font-size: 25px;
       
     
    }

    .theProduct p,
    .research p,
   .problemStatement p,
   .designStart p,
   .wireframe p,
   .uxResearch p{
       
      display: flex;
      justify-content: start;
      width: 90%;
      margin-left: 7.5rem;
     
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
    }
 
   
   
  

   .imgPeronas,
   .imgUserMap,
   .imgStoryboard,
   .imgWireframe,
   .imgPrototype1,
   .imgResearch,
   .imgResponsive,
   .imgMockups,
   .imgProject2{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .imgPeronas img,
    .imgUserMap img,
    .imgStoryboard img,
    .imgWireframe img,
    .imgPrototype1 img,
    .imgResearch img,
    .imgResponsive img,
    .imgMockups img,
    .imgProject2 img{
       width: 50%
     }
}