@media screen and (max-width: 767px){
     .descriptionProject h1 {
          display: flex;
          justify-content: start;
          width: 100%;
          margin-left: 3.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 25px;
          margin-top: 6rem;
          color: #F4F4F0;
         }
    
         .descriptionProject p {
          display: flex;
          justify-content: start;
          width: 100%;
          margin-left: 3.5rem;
          font-family: 'Raleway', sans-serif;
          font-size: 25px;
          margin-top: -1rem;
          font-weight: 200;
          color: #EFEFE8;
          text-align: justify;
         }
    
         .imgProject {
          display: flex;
          justify-content: center;
          width: 100%;
         } 
    
         .imgProject img{
          width: 50%;
         }
    
         .theProduct h2,
         .research h2,
         .personas h2,
         .problemStatement h2,
         .userJourneyMap h2,
         .designStart h2,
         .wireframe h2,
         .mockups h2,
         .problemStatement h2{
          display: flex;
          justify-content: start;
          width: 100%;
          margin-left: 3.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 15px;
         }
    
         .theProduct p,
         .research p,
         .personas p,
         .problemStatement p,
         .userJourneyMap p,
         .designStart p,
         .wireframe p,
         .mockups p,
         .uxResearch p,
         .problemStatement p{
          display: flex;
          justify-content: start;
          width: 90%;
          margin-left: 3.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 10px;
          font-weight: 300;
          color: #EFEFE8;
          text-align: justify;
         }
    
         .personas .imgPersonas,
         .userJourneyMap .imgUserMap,
         .designStart .imgStoryboard,
         .wireframe .imgWireframe,
         .prototype .imgPrototype1,
         .uxResearch .imgResearch,
         .designRefining .imgRefining,
         .designResponsive .imgResponsive,
         .mockups .imgMockups{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-left: 0rem;
         }
    
         .personas .imgPersonas img,
         .userJourneyMap .imgUserMap img,
         .designStart .imgStoryboard img,
         .wireframe .imgWireframe img,
         .prototype1 .imgPrototype img,
         .uxResearch .imgResearch img,
         .designResponsive .imgResponsive img,
         .designRefining .imgRefining img,
         .mockups .imgMockups img{
          width: 50%;
          margin-bottom: 4rem;
          
         }

         .imgProject4{
            display: flex;
            justify-content: center;
            width: 100%;
           
          }
        
          .imgProject4 img {
            width: 50%;
          }
        
          .mainProject4 {
            display: flex;
            justify-content: center;
          }
        
          .mainProject4 img {
            width: 70%;
          }
        
          .screenBody4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            width: 100%;
          
          }
        
          .screenBody4 .screenHomeBody4{
            margin-top: 3rem;
            margin-bottom: 3rem;
          }
        
          .screenBody4 .screenHomeBody4 img{
            width: 70%;
            margin-left: 6.5rem;
          }
        
          .screenProject4 {
            margin-left: 2rem;
          }
        
          .screenHome img,
          .screenBody img,
          .screenGallery img,
          .priceScreen img,
          .wchooseuScreen img,
          .thanksScreen img {
            width: 60%;
          }
        
          .screenHome,
          .screenGallery,
          .priceScreen,
          .wchooseuScreen,
          .thanksScreen {
            margin-top: 3rem;
            margin-bottom: -3rem;
           
          }
        
          .screenBody {
            margin-top: -2rem;
            margin-left: 1.5rem;
          }

          .imgProject4{
            display: flex;
            justify-content: center;
            width: 100%;
           
          }
        
          .imgProject4 img {
            width: 50%;
          }
        
          .mainProject4 {
            display: flex;
            justify-content: center;
          }
        
          .mainProject4 img {
            width: 70%;
          }
        
          .screenBody4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            width: 100%;
          
          }
        
          .screenBody4 .screenHomeBody4{
            margin-top: 3rem;
            margin-bottom: 3rem;
          }
        
          .screenBody4 .screenHomeBody4 img{
            width: 70%;
            margin-left: 4.4rem;
          }
        
          .screenProject4 {
            margin-left: 1.3rem;
          }
        
          .screenHome img,
          .screenBody img,
          .screenGallery img,
          .priceScreen img,
          .wchooseuScreen img,
          .thanksScreen img {
            width: 70%;
          }
        
          .screenHome,
          .screenGallery,
          .priceScreen,
          .wchooseuScreen,
          .thanksScreen {
            margin-top: 3rem;
            margin-bottom: -3rem;
           
          }
        
          .screenBody {
            margin-top: -2rem;
            margin-left: -0.5rem;
          }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px){
     .descriptionProject h1 {
          display: flex;
          justify-content: start;
          width: 100%;
          margin-left: 7.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 25px;
          margin-top: 6rem;
          color: #F4F4F0;
         }
    
     .descriptionProject p {
          display: flex;
          justify-content: start;
          width: 100%;
          margin-left: 7.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 25px;
          margin-top: -1rem;
          font-weight: 200;
          color: #EFEFE8;  
         }
    
     .imgProject {
          display: flex;
          justify-content: center;
          width: 100%;
         } 
    
         .imgProject img{
          width: 50%;
         }
    
     .theProduct h2,
     .research h2,
     .personas h2,
     .userJourneyMap h2,
     .designStart h2,
     .wireframe h2,
     .mockups h2,
     .problemStatement h2{
          display: flex;
          justify-content: start;
          width: 100%;
          margin-left: 7.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 25px;
          color: #bfbfb8;
         }
    
     .theProduct p,
     .research p,
     .personas p,
     .userJourneyMap p,
     .designStart p,
     .wireframe p,
     .mockups p,
     .uxResearch p,
     .problemStatement p{
          display: flex;
          justify-content: start;
          width: 90%;
          margin-left: 7.5rem;
          font-family: "Poppins", sans-serif;
          font-size: 20px;
          color: #EFEFE8;
          text-align: justify;
         }
    
         
         .personas .imgPersonas,
         .userJourneyMap .imgUserMap,
         .designStart .imgStoryboard,
         .wireframe .imgWireframe,
         .prototype .imgPrototype1,
         .uxResearch .imgResearch,
         .designRefining .imgRefining,
         .designResponsive .imgResponsive,
         .mockups .imgMockups{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
         }
    
         .personas .imgPersonas img,
         .userJourneyMap .imgUserMap img,
         .designStart .imgStoryboard img,
         .wireframe .imgWireframe img,
         .prototype1 .imgPrototype img,
         .uxResearch .imgResearch img,
         .designResponsive .imgResponsive img,
         .designRefining .imgRefining img,
         .mockups .imgMockups img{
          width: 50%;
          margin-bottom: 4rem;
         }

         .imgProject4{
            display: flex;
            justify-content: center;
            width: 100%;
           
          }
        
          .imgProject4 img {
            width: 50%;
          }
        
          .mainProject4 {
            display: flex;
            justify-content: center;
          }
        
          .mainProject4 img {
            width: 70%;
          }
        
          .screenBody4 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            width: 100%;
          
          }
        
          .screenBody4 .screenHomeBody4{
            margin-top: 3rem;
            margin-bottom: 3rem;
          }
        
          .screenBody4 .screenHomeBody4 img{
            width: 70%;
            margin-left: 6.5rem;
          }
        
          .screenProject4 {
            margin-left: 2rem;
          }
        
          .screenHome img,
          .screenBody img,
          .screenGallery img,
          .priceScreen img,
          .wchooseuScreen img,
          .thanksScreen img {
            width: 60%;
          }
        
          .screenHome,
          .screenGallery,
          .priceScreen,
          .wchooseuScreen,
          .thanksScreen {
            margin-top: 3rem;
            margin-bottom: -3rem;
           
          }
        
          .screenBody {
            margin-top: -2rem;
            margin-left: 1.5rem;
          }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
    
   .descriptionProject h1 {
      display: flex;
      justify-content: start;
      width: 100%;
      margin-left: 7.5rem;
      font-family: "Reddit Sans", sans-serif;
      font-size: 25px;
      margin-top: 6rem;
      color: #F4F4F0;
     }

     .descriptionProject p {
      display: flex;
      justify-content: start;
      width: 100%;
      margin-left: 7.5rem;
      font-family: "Poppins", sans-serif;
      font-size: 25px;
      margin-top: -1rem;
      font-weight: 200;
      color: #EFEFE8;
     }

     .imgProject {
      display: flex;
      justify-content: center;
      width: 100%;
     } 

     .imgProject img{
      width: 50%;
     }

     .theProduct h2,
     .research h2,
     .personas h2,
     .userJourneyMap h2,
     .designStart h2,
     .wireframe h2,
     .mockups h2,
     .problemStatement h2{
      display: flex;
      justify-content: start;
      width: 100%;
      margin-left: 7.5rem;
      font-family: "Poppins", sans-serif;
      font-size: 25px;
      color: #bfbfb8;
     }

     .theProduct p,
     .research p,
     .personas p,
     .userJourneyMap p,
     .designStart p,
     .wireframe p,
     .mockups p,
     .uxResearch p,
     .problemStatement p{
      display: flex;
      justify-content: start;
      width: 90%;
      margin-left: 7.5rem;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      color: #EFEFE8;
      text-align: justify;
     }

     
     .personas .imgPersonas,
         .userJourneyMap .imgUserMap,
         .designStart .imgStoryboard,
         .wireframe .imgWireframe,
         .prototype .imgPrototype1,
         .uxResearch .imgResearch,
         .designRefining .imgRefining,
         .designResponsive .imgResponsive,
         .mockups .imgMockups{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
     }

     .personas .imgPersonas img,
         .userJourneyMap .imgUserMap img,
         .designStart .imgStoryboard img,
         .wireframe .imgWireframe img,
         .prototype1 .imgPrototype img,
         .uxResearch .imgResearch img,
         .designResponsive .imgResponsive img,
         .designRefining .imgRefining img,
         .mockups .imgMockups img{
      width: 50%;
      margin-bottom: 4rem;
     }

     .imgProject4 img {
        width: 50%;
      }
    
      .mainProject4 {
        display: flex;
        justify-content: center;
      }
    
      .mainProject4 img {
        width: 70%;
      }
    
      .screenBody4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        width: 100%;
      
      }
    
      .screenBody4 .screenHomeBody4{
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    
      .screenBody4 .screenHomeBody4 img{
        width: 60%;
        margin-left: 12rem;
      }
    
      .screenHome img,
      .screenBody img,
      .screenGallery img,
      .priceScreen img,
      .wchooseuScreen img,
      .thanksScreen img {
        width: 70%;
      }
    
      .screenHome,
      .screenBody,
      .screenGallery,
      .priceScreen,
      .wchooseuScreen,
      .thanksScreen {
        margin-top: 3rem;
        margin-bottom: 3rem;
        
       
      }

}

@media screen and (min-width: 1439px) and (max-width: 1919px) {
     
    .descriptionProject h1 {
     display: flex;
     justify-content: start;
     width: 100%;
     margin-left: 7.5rem;
     font-family: "Poppins", sans-serif;
     font-size: 25px;
     margin-top: 6rem;
     color: #F4F4F0;
    }

    .descriptionProject p {
     display: flex;
     justify-content: start;
     width: 100%;
     margin-left: 7.5rem;
     font-family: "Poppins", sans-serif;
     font-size: 25px;
     margin-top: -1rem;
     font-weight: 200;
     color: #EFEFE8;
     
    }

    .imgProject {
     display: flex;
     justify-content: center;
     width: 100%;
    } 

    .imgProject img{
     width: 50%;
    }

    .theProduct h2,
    .research h2,
    .personas h2,
    .userJourneyMap h2,
    .designStart h2,
    .wireframe h2,
    .mockups h2,
    .problemStatement h2{
     display: flex;
     justify-content: start;
     width: 100%;
     margin-left: 7.5rem;
     font-family: "Poppins", sans-serif;
     font-size: 25px;
     color: #bfbfb8;
    }

    .theProduct p,
    .research p,
    .personas p,
    .userJourneyMap p,
    .designStart p,
    .wireframe p,
    .mockups p,
    .uxResearch p,
    .problemStatement p{
     display: flex;
     justify-content: start;
     width: 90%;
     margin-left: 7.5rem;
     font-family: "Poppins", sans-serif;
     font-size: 20px;
     margin-top: -1rem;
     color: #EFEFE8;
     text-align: justify;
    }

    
    .personas .imgPersonas,
         .userJourneyMap .imgUserMap,
         .designStart .imgStoryboard,
         .wireframe .imgWireframe,
         .prototype .imgPrototype1,
         .uxResearch .imgResearch,
         .designRefining .imgRefining,
         .designResponsive .imgResponsive,
         .mockups .imgMockups{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     
    }

    .personas .imgPersonas img,
         .userJourneyMap .imgUserMap img,
         .designStart .imgStoryboard img,
         .wireframe .imgWireframe img,
         .prototype1 .imgPrototype img,
         .prototype .imgPrototype1 img,
         .uxResearch .imgResearch img,
         .designResponsive .imgResponsive img,
         .designRefining .imgRefining img,
         .mockups .imgMockups img{
     width: 50%;
     margin-bottom: 4rem;
    }

    .imgProject4{
        display: flex;
        justify-content: center;
        width: 100%;
       
      }
  
      .imgProject4 img {
        width: 50%;
      }
  
      .mainProject4 {
        display: flex;
        justify-content: center;
      }
  
      .mainProject4 img {
        width: 70%;
      }
  
      .screenBody4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        width: 100%;
      
      }
  
      .screenBody4 .screenHomeBody4{
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
  
      .screenBody4 .screenHomeBody4 img{
        width: 60%;
        margin-left: 12rem;
      }
  
      .screenHome img,
      .screenBody img,
      .screenGallery img,
      .priceScreen img,
      .wchooseuScreen img,
      .thanksScreen img {
        width: 70%;
      }
  
      .screenHome,
      .screenBody,
      .screenGallery,
      .priceScreen,
      .wchooseuScreen,
      .thanksScreen {
        margin-top: 3rem;
        margin-bottom: 3rem;
        
       
      }
}